# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.eslintcache

# datamined data repo
/pipeline/GenshinData
/pipeline/Texture2D

# localization generated JSON
*_gen.json
public/locales/*
!public/locales/en

# for personal use
.notes
# template dirs
_TEMPLATE
# template files
TEMPLATE*
*_ignore.png
