[submodule "libs/gi/dm/GenshinData"]
	path = libs/gi/dm/GenshinData
	url = https://gitlab.com/Dimbreath/AnimeGameData.git
	shallow = true
	branch = master
[submodule "libs/sr/dm/StarRailData"]
	path = libs/sr/dm/StarRailData
	url = https://gitlab.com/Dimbreath/turnbasedgamedata.git
	shallow = true
[submodule "libs/zzz/dm/ZenlessData"]
	path = libs/zzz/dm/ZenlessData
	url = https://git.mero.moe/dimbreath/ZenlessData.git
