# Add files here to ignore them from prettier formatting

/dist
/coverage
/.yarn

/libs/gi/dm/GenshinData
/libs/sr/dm/StarRailData
/libs/zzz/dm/ZenlessData
/libs/zzz/dm/HakushinData
*_gen.json

/libs/gi/stats/Data
/libs/sr/stats/Data
/libs/zzz/stats/Data

# nx
/.nx/cache

/.nx/workspace-data
