.thumb-small {
  width: 40px;
  height: auto;
}
.thumb-mid {
  width: 60px;
  height: auto;
}
.inline-icon{
  display: inline-block;
  width: 1em;
  height: auto;
}
.overlay-dark {
  filter: brightness(50%);
}
