img.thumb-small {
  width: 40px;
  height: auto;
}
img.thumb-mid {
  width: 60px;
  height: auto;
}
img.thumb-big {
  width: 100px;
  height: auto;
}
img.inline-icon {
  display: inline-block;
  width: auto;
}
body .inline-icon {
  height: 1.5em;
}
h1 .inline-icon,
h2 .inline-icon,
h3 .inline-icon,
h4 .inline-icon,
h5 .inline-icon,
h6 .inline-icon {
  height: 1.2em;
  vertical-align: -0.25em;
}
.overlay-dark {
  filter: brightness(50%);
}
