img.thumb-small {
  width: 40px;
  height: auto;
}
img.thumb-mid {
  width: 60px;
  height: auto;
}
img.thumb-big {
  width: 100px;
  height: auto;
}
img.inline-icon {
  display: inline-block;
  height: 1em;
  width: auto;
}
.overlay-dark {
  filter: brightness(50%);
}
