@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

//https://coolors.co/171738-2e1760-3423a6-7180b9-dff3e4
$darkbg: #0c0c1d;
$contentbg: #1b263b;
$lightbg: #2a364d;
$darkfontcolor: #778da9;
$lightfontcolor: #e0e1dd;

$star5Color: #ffd700;
$star4Color: #6a0dad;
$star3Color: #4287f5;
$star2Color: #008000;
$star1Color: #808080;

// $card-bg: $contentbg;
$body-bg: $darkbg;
// $body-color: $lightfontcolor;

// .card-header {
//     background-color: $lightbg !important;
// }
html,
body {
  height: 100%;
}
#root {
  min-height: 100%;
  height: 100%;
}

.text-halfsize {
  font-size: 50%;
}

//make the default 200px bigger
.tooltip-inner {
  max-width: 300px !important;
}

/* Chrome, Safari, Edge, Opera */
input.hide-appearance::-webkit-outer-spin-button,
input.hide-appearance::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"].hide-appearance {
  -moz-appearance: textfield;
}

input.invisible-input {
  outline-color: initial;
  background-image: initial;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  margin: 0;
  -ms-appearance: none;
  border: none;
}

.grad-1star {
  background-image: linear-gradient(to bottom right, #4f5864, #838f99);
}
.grad-2star {
  background-image: linear-gradient(to bottom right, #48575c, #5e966c);
}
.grad-3star {
  background-image: linear-gradient(to bottom right, #515474, #499fb3);
}
.grad-4star {
  background-image: linear-gradient(to bottom right, #595482, #b886ca);
}
.grad-5star {
  background-image: linear-gradient(to bottom right, #695453, #e6ac54);
}

//default gutter size of 30px is wayyyyyyy too big
$grid-gutter-width: 10px;

$theme-colors: (
  "lightcontent": $lightbg,
  "darkcontent": $contentbg,
  "darkercontent": $darkbg,
  "lightfont": $lightfontcolor,
  //gold
  "5star": $star5Color,
  //purple
  "4star": $star4Color,
  //light blue
  "3star": $star3Color,
  //green
  "2star": $star2Color,
  //grey
  "1star": $star1Color,
  "1roll": #a3a7a9,
  //163, 167, 169
  "2roll": #6fa376,
  //111, 163, 118
  "3roll": #8eea83,
  //142, 234, 131
  "4roll": #31e09d,
  //49, 224, 157
  "5roll": #27bbe4,
  //39, 187, 228
  "6roll": #de79f0,
  //222, 121, 240
  "geo": #f8ba4e,
  "pyro": #bf2818,
  "hydro": #2f63d4,
  "cryo": #77a2e6,
  "electro": #b25dcd,
  "anemo": #61dbbb,
  "physical": #969696,
  //ELE REACTIONS
  "vaporize": #ffcb65,
  "melt": #ffcb65,
  "overloaded": #ff7e9a,
  "superconduct": #b7b1ff,
  "electrocharged": #e299fd,
  "shattered": #98fffd,
  "swirl": #66ffcb,
  "burning": #bf2818,
  "crystalize": #f8ba4e,
  "orange": #ff6600,
);

//convert dropdown to dark
$dropdown-bg: $dark;
$dropdown-link-color: $light;
$dropdown-header-color: $gray-100;

//image color, make it darker
$thumbnail-border-color: $gray-800;

@import "~bootstrap/scss/bootstrap";
@include list-group-item-variant("customdark", $contentbg, $lightfontcolor);
@include list-group-item-variant("customdarker", theme-color-level("darkcontent", 2), $lightfontcolor);
