//https://coolors.co/171738-2e1760-3423a6-7180b9-dff3e4
$darkbg: #0c0c1d;
$contentbg: #1b263b;
$lightbg: #2a364d;
$darkfontcolor: #778da9;
$lightfontcolor: #e0e1dd;

// $card-bg: $contentbg;
$body-bg: $darkbg;
// $body-color: $lightfontcolor;

// .card-header {
//     background-color: $lightbg !important;
// }
html,
body {
	height: 100%;
}
#root {
	min-height: 100%;
	height: 100%;
}
$theme-colors: (
	"lightcontent": $lightbg,
	"darkcontent": $contentbg,
	"darkercontent": $darkbg,
	"lightfont": $lightfontcolor,
	//gold
	"5star": #ffd700,
	//purple
	"4star": #6a0dad,
	//light blue
	"3star": #4287f5,
	//green
	"2star": #008000,
	//grey
	"1star": #808080,
);

@import "node_modules/bootstrap/scss/bootstrap";
@include list-group-item-variant("customdark", $contentbg, $lightfontcolor);
@include list-group-item-variant("customdarker", theme-color-level("darkcontent", 2), $lightfontcolor);
