/* You can add global styles to this file, and also import other style files */
/* For Rarity background*/
.grad-B {
  background-image: linear-gradient(to bottom right, #515474, #499fb3);
}
.grad-A {
  background-image: linear-gradient(to bottom right, #595482, #b886ca);
}
.grad-S {
  background-image: linear-gradient(to bottom right, #695453, #e6ac54);
}
