name: New Beta SRO Release

on:
  push:
    branches:
      - master

# Only allow the most recent run of beta release to complete, if multiple are queued.
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  call-deploy-frontend:
    uses: ./.github/workflows/deploy-frontend.yml
    with:
      frontend_name: 'sr-frontend'
      repo_full_name: ${{ github.repository }}
      ref: ${{ github.ref }}
      deployment_name: 'beta'
      pr_repo: ${{ vars.PR_REPO }}
      show_dev_components: true
    secrets: inherit
