name: Build GO (WR) PR
run-name: Build GO (WR) for ${{ github.event.number }} - ${{ github.event.pull_request.title }}

permissions:
  contents: read

on:
  pull_request:
    paths-ignore:
      - 'apps/somnia/**'
      - 'apps/somnia-e2e/**'
      - 'apps/sr-frontend/**'
      - 'apps/sr-frontend-e2e/**'
      - 'apps/zzz-frontend/**'
      - 'apps/zzz-frontend-e2e/**'
      - 'libs/gi/formula/**'
      - 'libs/gi/formula-ui/**'
      - 'libs/gi/i18n-node/**'
      - 'libs/pando/**'
      - 'libs/sr/**'
      - 'libs/zzz/**'
    types: [opened, reopened, synchronize, labeled]

jobs:
  call-build:
    uses: ./.github/workflows/build-frontend.yml
    with:
      frontend_name: 'frontend'
      deployment_name: ${{ github.event.number }}
      repo_var_name: 'PR_REPO'
      repo_deploy_secret_name: 'PR_REPO_SSH_KEY'
      show_dev_components: ${{ contains(github.event.pull_request.labels.*.name, 'showDevComponents') }}
