name: Build GO (WR) PR
run-name: Build GO (WR) for ${{ github.event.number }} - ${{ github.event.pull_request.title }}

permissions:
  actions: read
  contents: read

on:
  pull_request:
    paths-ignore:
      - 'apps/gi-backend/**'
      - 'apps/gi-backend-e2e/**'
      - 'apps/gi-frontend-next-e2e/**'
      - 'apps/gi-frontend-next-e2e/**'
      - 'apps/sr-frontend/**'
      - 'apps/sr-frontend-e2e/**'
      - 'libs/gi/formula/**'
      - 'libs/gi/formula-ui/**'
      - 'libs/gi/frontend-gql/**'
      - 'libs/gi/prisma-schema/**'
      - 'libs/gi/ui-next/**'
      - 'libs/pando/**'
      - 'libs/sr/**'
    types: [opened, reopened, synchronize, labeled]

jobs:
  call-build-frontend:
    uses: ./.github/workflows/build-frontend.yml
    with:
      frontend_name: 'frontend'
      deployment_name: ${{ github.event.number }}
      show_dev_components: ${{ contains(github.event.pull_request.labels.*.name, 'showDevComponents') }}
    secrets: inherit
