name: Build SRO PR
run-name: Build SRO for ${{ github.event.number }} - ${{ github.event.pull_request.title }}

permissions:
  actions: read
  contents: read

on:
  pull_request:
    paths-ignore:
      - 'apps/gi-backend/**'
      - 'apps/gi-backend-e2e/**'
      - 'apps/gi-frontend-next-e2e/**'
      - 'apps/gi-frontend-next-e2e/**'
      - 'libs/gi/**'
    types: [opened, reopened, synchronize, labeled]

jobs:
  call-build-frontend:
    uses: ./.github/workflows/build-frontend.yml
    with:
      frontend_name: 'sr-frontend'
      deployment_name: ${{ github.event.number }}
      show_dev_components: ${{ contains(github.event.pull_request.labels.*.name, 'showDevComponents') }}
    secrets: inherit
