name: Build Frontend
run-name: Build frontend of ${{ inputs.frontend_name }} for ${{ inputs.deployment_name }} - ${{ github.event.pull_request.merge_commit_sha }}

on:
  workflow_call:
    inputs:
      frontend_name:
        description: 'Frontend type to build. Can be `frontend`, or `sr-frontend`'
        type: string
      deployment_name:
        description: 'Name for the deployment. This will determine the URL. If you choose a name that is already deployed, it will overwrite that deployment.'
        type: string
        default: 'master'
      show_dev_components:
        description: 'Flag to show components typically only shown in development mode, for experimental or in-progress features.'
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
      - name: Yarn install
        run: |
          yarn install --immutable --immutable-cache
      - name: Setup .env
        run: |
          printf '%s' "$ENVFILE" > apps/frontend/.env.local
        env:
          ENVFILE: ${{ vars.ENVFILE }}
      - name: Build genshin-optimizer
        run: |
          NX_URL_GITHUB_GO_CURRENT_VERSION="https://github.com/${{ github.repository }}/commit/$(git rev-parse HEAD)" \
          NX_DAEMON="false" \
          NX_SHOW_DEV_COMPONENTS="${{inputs.show_dev_components}}" \
          yarn run nx run ${{inputs.frontend_name}}:build-vite:production --base-href=""
          echo ${{inputs.frontend_name}} > frontend_name
          echo ${{inputs.deployment_name}} > deployment_name
          echo $(git rev-parse HEAD) > ref
      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: frontend_build
          path: |
            dist/apps/${{inputs.frontend_name}}
            frontend_name
            deployment_name
            ref
