name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Get Cache Key
        id: get-cache-key
        run: |
          echo "key=$(git ls-tree -r HEAD | grep '^160000' | sha256sum | cut -d " " -f 1)" >> $GITHUB_OUTPUT
      - uses: actions/cache/restore@v4
        with:
          path: .git/modules
          key: submodule-${{ steps.get-cache-key.outputs.key }}
          restore-keys: |
            submodule-
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - name: Yarn Install
        run: |
          yarn install --immutable --immutable-cache
      - name: Run lint
        run: |
          yarn run nx run-many --target=lint --fix=false --max-warnings=0
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Get Cache Key
        id: get-cache-key
        run: |
          echo "key=$(git ls-tree -r HEAD | grep '^160000' | sha256sum | cut -d " " -f 1)" >> $GITHUB_OUTPUT
      - uses: actions/cache/restore@v4
        with:
          path: .git/modules
          key: submodule-${{ steps.get-cache-key.outputs.key }}
          restore-keys: |
            submodule-
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - name: Yarn Install
        run: |
          yarn install --immutable --immutable-cache
      - name: Run Tests
        run: |
          yarn run nx run-many --target=test
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Get Cache Key
        id: get-cache-key
        run: |
          echo "key=$(git ls-tree -r HEAD | grep '^160000' | sha256sum | cut -d " " -f 1)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          path: .git/modules
          key: submodule-${{ steps.get-cache-key.outputs.key }}
          restore-keys: |
            submodule-
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: true
      - name: Sparse Checkout
        run: |
          $(cd libs/gi/dm/GenshinData  && git sparse-checkout set TextMap ExcelBinOutput)
          $(cd libs/sr/dm/StarRailData && git sparse-checkout set TextMap ExcelOutput)
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - name: Yarn Install
        run: |
          yarn install --immutable --immutable-cache
      - name: Check Formatting
        run: |
          yarn run nx format:check
  typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - name: Yarn Install
        run: |
          yarn install --immutable --immutable-cache
      - name: Check types
        run: |
          yarn run nx run-many --target=typecheck
